.heading-primary{
    font-size: $h1;
    font-weight: $font-regular;
    text-transform: uppercase;
    letter-spacing: .9rem;
    text-shadow: 1px 1px 2px black;
}

.heading-secondary{
    font-size: $h2;
    font-weight: $font-regular;
    text-transform: uppercase;
    letter-spacing: .7rem;
    text-shadow: 1px 1px 2px black;
}

.heading-tertiary{
    font-size: $h4;
    font-weight: $font-regular;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .3rem;
    text-shadow: 1px 1px 2px black;
}

.heading-h4{
    font-size: $h5;
    text-transform: uppercase;
}