.form-section{
    height: 80vh;
    position: relative;
    background: url('../../img/form-bg.jpg');
    background-size: cover;
    background-position-y: center;
    transform: skewY(-5deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -8rem;

    & > * {
        transform: skewY(5deg);
    }
    
    &--form{
        position: absolute;
        //display: flex;
        //align-items: center;
        ///justify-content: center;
        //top: 20%;
        //left: 5%;
       /*  -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); */
        width: 80rem;
    }

    &--page-container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 30rem;
        text-align: center;
    }
}