.fig-1{
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    width: 300px;
    height: 150px;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    transform: rotate(-45deg);
    position: fixed;
    right: -4.5rem;
    top: 3.1rem;
  }
  
  .fig-2{
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    clip-path: circle(50% at 50% 50%);
    position: fixed;
    bottom: -5rem;
    left: -10rem;
    width: 220px;
    height: 220px;
  }
  
  .fig-3{
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    clip-path: circle(50% at 50% 50%);
    position: fixed;
    bottom: -5rem;
    right: -10rem;
    width: 220px;
    height: 220px;
  }