.fig-1{
    @include gradientMain;
    position: fixed;
    width: 300px;
    height: 150px;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    transform: rotate(-45deg);
    right: -4.5rem;
    top: 3.1rem;
  }
  
  .fig-2{
    @include gradientMain;
    @include backgroundCircleFig(left);    
  }
  
  .fig-3{
    @include gradientMain;  
    @include backgroundCircleFig(right);
  }