//@import '../app-variables';

.btn-primary,
.btn-primary:link,
.btn-primary.visited {
    background: $color-white;
    width: 20rem;
    height: 3.5rem;
    color: black;
    border: none;
    border-radius: 2.2rem;
    font-family: Montserrat, Arial, serif;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    cursor: pointer;
    transition: all .2s;

    &:hover{
      transform: translateY(-2px);
      box-shadow: -0.1em 0 .7em black;
    }
}

/* .btn-primary:focus {
  border-color: $theme-color-orange !important;
}

.btn-primary:hover {
  background: $theme-color-orange-hover !important;
}

.btn-group-sm > .btn-primary, .btn, .btn-sm {
  min-height: 1.5rem !important;
  padding: .15rem .3rem;
  font-size: .8rem;
  line-height: 1.2;
  border-radius: .2rem;
}

.nopadding{
  line-height: 1.4 !important;
} */