//@import '../app-variables';

.btn-primary {
    background: #fff !important;
    border-color: yellowgreen !important;
    color: black !important;
    box-shadow: -0.1em 0 .4em olive;
}

/* .btn-primary:focus {
  border-color: $theme-color-orange !important;
}

.btn-primary:hover {
  background: $theme-color-orange-hover !important;
}

.btn-group-sm > .btn-primary, .btn, .btn-sm {
  min-height: 1.5rem !important;
  padding: .15rem .3rem;
  font-size: .8rem;
  line-height: 1.2;
  border-radius: .2rem;
}

.nopadding{
  line-height: 1.4 !important;
} */