.form-label-header {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-weight: 400;
    text-shadow: 1px 1px 2px black;
}

.form-input-container {
    font-size: 3rem;
    width: 30rem;
    position: relative;
    background-color: rgba(57, 63, 84, 0.5);
    border-radius: 2px;
    display: flex;

    &:after {
        content: '';
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 999;
        height: 3px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        background-position: 0% 0%;
        background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
        background-size: 500% auto;
        animation: gradient 3s linear infinite;
    }
}

.form-input {
    border: none;
    outline: none;
    -webkit-appearance: none;
    padding: 5px 0px;
    flex-grow: 1;
    background-color: transparent;
    text-align: center;
    color: #BFD2FF;
    font-size: 2.5rem;
    line-height: 2.4rem;
    vertical-align: middle;

    &::-webkit-input-placeholder {
        color: #7881A1;
    }

    &:active,
    &:focus {
        outline: none;
    }
}

.end-label-eu {
    font-size: 2.5rem;
    position: absolute;
    bottom: 3px;
    right: -40px;
}

.end-label-cm {
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    right: -35px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


//************************ RADIO BUTTONS  *********************************//
.radio-container-page2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 3rem;
    width: 100%;
    align-items: flex-start;
}

.radio-container-page5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 3rem;
    width: 100%;
}

.radio-container-page3 {
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
    justify-content: space-evenly;
}

.radio-label {
    background-color: rgba(57, 63, 84, 0.5);
    font-size: 2rem;
    letter-spacing: .3rem;
    display: flex;
    align-items: center;
    border-radius: 10rem;
    padding: .8rem 1.2rem;
    margin: .5rem .5rem;
    cursor: pointer;
    transition: .3s;
}

.radio-label:hover,
.radio-label:checked {
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
}

.radio-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}

.radio-design {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 10rem;
    background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
    position: relative;

    &::before {
        content: '';
        display: inline-block;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
        background-size: 500% auto;
        transform: scale(1.1);
        transition: .3s;
        position: absolute;
        left: 0;
    }
}

.radio-text {
    margin-left: .7rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 18px;
    transition: .3s;
    font-weight: 300;
}

.is-selected {
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
}

// ************************** ERRORS **********************//
.form-error-bt0 {
    @include formError(0)
}

.form-error-bt4 {
    @include formError(4.5rem)
}

.form-error-bt6 {
    @include formError(6rem)
}



